.d-flex{
  display: flex;
  flex-direction: row;
}
.flex-column{
  flex-direction: column;
}
.justify-content-center{
  justify-content: center;
}
.align-items-center{
  align-items: center;
}
.btn{
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  width:4rem;
  height: 3rem;
  font-weight: 600;
  font-size: large;
}
.mb-3{
  margin-bottom: 20px;
}
.bg-secondary{
  background-color: #6c757d;
  color: white;
}
.btn-golden{
  background-color: #ffc107;
  color: #212529;
}
.btn-golden:hover{
  background-color: #e0a800;
}
.w-100{
  width: 100%;
}
.w-50{
  width: 50%;
}
.w-25{
  width: 25%;
}
.w-35{
  width: 40%;
}
.h-3
{
  height: 4rem;
}

.text-center{
  text-align: center;
}

.vh-100{
  height: 100vh;
}
.vh-50{
  height: 50vh;
}
.vh-25{
  height: 25vh;
}
.vh-75{
  height: 75vh;
}
.vw-100{
  width: 100vw;
}
.vw-75{
  width: 75vw;
}
.vw-50{
  width: 50vw;
}
.vw-25{
  width: 25vw;
}

.justify-content-between
{
  justify-content: space-between;
}
.w-85
{
  width: 94%;
}

.bg-light
{
  background-color: lightgoldenrodyellow;
}
.border-0
{
  border:none;
}
.rounded-1
{
  border-radius:5px;
}
.p-4
{
  padding: 10px;
}
.text-end
{
  text-align: end;
}
.fw-bold
{
  font-weight: bold;
}
.fs-large
{
  font-size: 30px;
}

.gap-2{
  gap:1.4rem;
}